body{
	overflow-x:hidden;
}
a{
	color:rgb(80,80,80);
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
/* Configuração Inicial */
configInicialLateral{
	position:fixed;
	top:50px;
	left:0;
	width:200px;
	color:rgb(200,200,200);
	transform:rotate(-90deg);
}
.configInicial{
	margin-top:20px;
}
.configInicialForm{
	margin:50px 0 0 170px;
}
.configInicialForm h3,
.configInicialForm button{
	margin-top:20px;
	width:100%;
}
.configInicialForm input{
	margin:5px 0;
}
/* Login */
.logo{
	margin-top:100px;
}
.logo img{
	height:200px;
	margin-bottom:50px;
}
.logo input{
	margin:5px 35%;
	width:30%;
}
.logo small{
	color:rgb(200,200,200);
}
/* menu lateral */
.menu{
	position:fixed;
	left:0;
	top:0;
	z-index:2;
	height:100%;
	width:50px;
	background:rgb(168, 5, 5);
	transition:width .1s;
}
.menu:hover{
	width:20%;
}
.menu ul{
	padding:0;
	margin:0;
	overflow:hidden;
	white-space: nowrap;
}
.menu li:hover{
	background:rgb(200,200,200);
}
.menu li,
.menu a{
	color:rgb(250,250,250);
	list-style:none;
	width:100%;
}
.menu i{
	margin:10px;
	width:30px;
	text-align:center;
}
/* telas */
.telas{
	padding:0 20%;
}
.telas-maior{
	padding:0 1% 0 5%;
}
.telas h2{
	margin:5% 0;
	color:rgb(150,150,150);
}
/* Config */
.config label{
	height:30px;
}
#lblUsuarioLin{
	margin-top:50px;
}
/* Scan */
.scanner{
	margin-top:10%;
}
.scanner button{
	margin:5% 0;
	height:100px;
}